[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework-simplejwt = "*"
djoser = "*"
djangorestframework = "*"
djongo = "*"
psycopg2 = "*"
django = "*"
django-cors-headers = "*"
django-sslserver = "*"
django-money = "*"
social-auth-app-django = "*"
django-rest-framework-social-oauth2 = "*"
drf-renderer-xlsx = "*"
django-environ = "*"
django-seed = "*"
django-data-seeder = "*"

[requires]
python_version = "3.8"
